body {
  padding-top: 5rem;
  background-image: url("../images/1.jpg") ;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


a:link {
  color: mintcream;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: palevioletred;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: maroon;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:yellow;
  background-color: transparent;
  text-decoration: underline;
}

#A{
  text-align: center;
  color: whitesmoke;
}

#B{
  color: whitesmoke;
}

label.form-label{
  color: white;
}

td{
  color: white;
}





